.home-header{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: sticky;
    top: 0;
}

.home-header-main{
    width: 50%;
}

.home-content{
    position: sticky;
    top: 0;
    border: 1px solid #28395A;
    background-color: #091224;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 150px;
}

.home-content h1{
    width: 100%;
    text-align: center;
}

.create-btn{
    background-color: #E88607;
    padding: 6px 19px 6px 19px;
    color: white;
    border-radius: 30px;
    font-size: 22px;
    border: none;
    outline: none;
}

.create-btn:hover{
    cursor: pointer;
}

@media (max-width: 768px) {
    .home-main{
        grid-template-columns: 0 100%;
    }
    .create-btn{
        padding: 6px 12px;
        font-size: 16px;
    }
}