.profile-info{
    position: sticky;
    top: 40px;
    display: flex;
    align-items: center;
    gap: 3rem;

}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @media (max-width: 768px) {
        display: none;
    }
}

.profile img{
    width: 39px;
    height: 39px;
}
