.profile-info{
    position: sticky;
    top: 0;
    display: flex;
    gap: 3rem;
    /* justify-content: flex-end; */
    margin-right: 30px;
    margin-top: 40px;
}

.profile{
    display: flex;
    justify-content: center;
    gap: 1rem;
    @media (max-width: 768px) {
        display: none;
    }
}

.profile img{
    width: 39px;
    height: 39px;
}
